@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

@plugin "daisyui" {
  themes: all;
}

.urbanist {
  font-family: "Urbanist", sans-serif;
  font-optical-sizing: auto;
}

.actice {
  background: #CAEB66;
}

.merchantBgImg {
  background-image: url('../src/assets/be-a-merchant-bg.png');
  background-repeat: no-repeat;
  background-position: top;
}