@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

@plugin "daisyui" {
  themes: all;
}

.urbanist {
  font-family: "Urbanist", sans-serif;
  font-optical-sizing: auto;
}

.actice {
  background: #CAEB66;
}

.merchantBgImg {
  background-image: url('../src/assets/be-a-merchant-bg.png');
  background-repeat: no-repeat;
  background-position: top;
}

.review-swiper .swiper-slide {
  width: 380px !important;
  opacity: 0.3;
  transform: scale(0.85);
  transition: all 0.5s ease;
  filter: blur(1px);
}

.review-swiper .swiper-slide-active {
  opacity: 1;
  transform: scale(1) translateY(-30px);
  z-index: 10;
  filter: blur(0);
}

.review-swiper .swiper-pagination-bullet {
  background: #ccc;
  opacity: 1;
}

.review-swiper .swiper-pagination-bullet-active {
  background: #84cc16;
}

.mySwiper .swiper-pagination-bullet {
  width: 8px;
  height: 8px;
  background: #d1d5db;
  opacity: 1;
  transition: all 0.3s ease;
}

.mySwiper .swiper-pagination-bullet-active {
  background: #a3e635;
  width: 22px;
  border-radius: 999px;
}