@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

@plugin "daisyui" {
  themes: all;
}

.urbanist {
  font-family: "Urbanist", sans-serif;
  font-optical-sizing: auto;
}

.active {
  background: #CAEB66;
  border-radius: 9999px;
}

.merchantBgImg {
  background-image: url('../src/assets/be-a-merchant-bg.png');
  background-repeat: no-repeat;
  background-position: top;
}

.review-swiper .swiper-slide {
  opacity: 0.4;
  transform: scale(0.9);
  transition: all 0.4s ease;
}

.review-swiper .swiper-slide-active {
  opacity: 1;
  transform: scale(1);
  z-index: 10;
}

.review-swiper .swiper-pagination-bullet {
  width: 6px;
  height: 6px;
  background: #d1d5db;
  opacity: 1;
}

.review-swiper .swiper-pagination-bullet-active {
  background: #84cc16;
  width: 16px;
  border-radius: 999px;
}

.mySwiper .swiper-pagination-bullet {
  width: 8px;
  height: 8px;
  background: #d1d5db;
  opacity: 1;
  transition: all 0.3s ease;
}

.mySwiper .swiper-pagination-bullet-active {
  background: #a3e635;
  width: 22px;
  border-radius: 999px;
}

.custom-pagination .swiper-pagination-bullet-active {
  background: #a3e635 !important;
  width: 24px !important;
  border-radius: 20px !important;
  transition: all 0.3s ease;
}